<ion-view title="Dashboard" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <a href="/#/invoice" class="button button-icon icon ion-android-add-circle"></a>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <ion-list id="dashboard-list1">
      <ion-item ng-repeat="family in families | orderBy: '-created_at'" class="item-thumbnail-left" id="family-list-item1">
        <img src="img/family.ico">
        <h2>{{family.name}}</h2>
        <p style="white-space:normal;">{{family.description}}</p>
        <a href="/#/invoice/{{family.id}}">View</a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!-- <ion-view title="Nova Familia" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="novaFamilia-form3" class="list">
      <label class="item item-input" id="novaFamilia-input3" name="name">
        <span class="input-label">Familia</span>
        <input type="text" placeholder="Familia">
      </label>
      <label class="item item-input" id="novaFamilia-input4" name="description">
        <span class="input-label">Descrição</span>
        <input type="text" placeholder="Descrição">
      </label>
    </form>
    <button id="novaFamilia-button2" class="button button-positive  button-block">Criar</button>
  </ion-content>
</ion-view> -->
