<ion-view title="Dashboard" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <a href="/#/invoice" class="button button-icon icon ion-android-add-circle"></a>
  </ion-nav-buttons>

  <ion-content padding="true" class="has-header">
    <ion-list id="dashboard-list1">
      <ion-item class="item-thumbnail-left" id="dashboard-list-item5">
        <h2>Familia: APT-PLT</h2>
        <p style="white-space:normal;">Apt dos mãos de Vaca de Paulistana</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="dashboard-list-item6">
        <h2>Familia: SPOTIFY</h2>
        <p style="white-space:normal;">Apt dos mãos de Vaca de Paulistana</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="dashboard-list-item7">
        <h2>Familia: LANCHE-INFO</h2>
        <p style="white-space:normal;">Apt dos mãos de Vaca de Paulistana</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="dashboard-list-item8">
        <h2>Familia: SKY</h2>
        <p style="white-space:normal;">Apt dos mãos de Vaca de Paulistana</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!-- <ion-view title="Nova Familia" id="page4">
  <ion-content padding="true" class="has-header">
    <form id="novaFamilia-form3" class="list">
      <label class="item item-input" id="novaFamilia-input3" name="name">
        <span class="input-label">Familia</span>
        <input type="text" placeholder="Familia">
      </label>
      <label class="item item-input" id="novaFamilia-input4" name="description">
        <span class="input-label">Descrição</span>
        <input type="text" placeholder="Descrição">
      </label>
    </form>
    <button id="novaFamilia-button2" class="button button-positive  button-block">Criar</button>
  </ion-content>
</ion-view> -->
