<ion-view title="Fatura" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <a href="/#/transaction" class="button button-icon icon ion-android-add-circle"></a>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="fatura-form1" class="list">
      <ion-toggle toggle-class="toggle-positive" id="fatura-toggle1">Pago</ion-toggle>
    </form>
    <h3 id="fatura-heading1" style="color:#000000;">Total: R$ 312,00</h3>
    <ion-list id="fatura-list2">
      <ion-item id="fatura-list-item9">Luz
        <span class="item-note">R$ 30,00</span>
      </ion-item>
      <ion-item id="fatura-list-item10">Agua
        <span class="item-note">R$ 22,00</span>
      </ion-item>
      <ion-item id="fatura-list-item11">Faxina
        <span class="item-note">R$ 60,00</span>
      </ion-item>
      <ion-item id="fatura-list-item12">Aluguel
        <span class="item-note">R$ 200,00</span>
      </ion-item>
    </ion-list>
    <h3 id="fatura-heading2" style="color:#000000;">Rateio</h3>
    <ion-list id="fatura-list3">
      <ion-item class="item-avatar" id="fatura-list-item13">
        <h2>Ewerton Costa</h2>
        <p>R$ 78,00</p>
      </ion-item>
      <ion-item class="item-avatar" id="fatura-list-item14">
        <h2>Mirtson Biba</h2>
        <p>R$ 78,00</p>
      </ion-item>
      <ion-item class="item-avatar" id="fatura-list-item15">
        <h2>Flavio Avelino</h2>
        <p>R$ 78,00</p>
      </ion-item>
      <ion-item class="item-avatar" id="fatura-list-item16">
        <h2>Nato</h2>
        <p>R$ 78,00</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
