<ion-view title="Nova Transação" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="novaTransaO-form2" class="list">
      <label class="item item-input" id="novaTransaO-textarea1" name="description">
        <span class="input-label">Descrição</span><textarea placeholder=""></textarea></label>
      <label class="item item-input" id="novaTransaO-input1" name="date">
        <span class="input-label">Data</span>
        <input type="date" placeholder="Data da transação">
      </label>
      <label class="item item-input" id="novaTransaO-input2" name="amount">
        <span class="input-label">Valor</span>
        <input type="text" placeholder="Valor">
      </label>
    </form>
    <button id="novaTransaO-button1" class="button button-positive  button-block">Salvar</button>
  </ion-content>
</ion-view>
